<!DOCTYPE html>
<html>
    <head>
        <title>Bowler</title>
        <%= stylesheet_link_tag "styles" %>
    </head>
    <body>
        <h1><%= @title %></h1>
        <%= yield %>
        <div class='nav'>
            <%= link_to 'All Games', games_path %>
        </div>
        <div class='quote'>
            <%= render_quote %>
            <br/>
            More on <%= link_to 'Dudeism', 'http://dudeism.com/lebowski-quotes', :target => '_new' %>.
        </div>
    </body>
</html>
